#grid-container {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: auto auto 275px;
    grid-template-rows: 100px 100% 150px;
}
 
#grid-container > #main-canvas {
    font-size:x-small;
    text-align: center;
    grid-column: 1/3;
    grid-row: 1/3;
    border: 2px solid black;
    padding: 20px;
}
#grid-container > #playback-controls {
    font-size:x-small;
    text-align: center;
    grid-column: 3/4;
    grid-row: 1/2;
    border: 2px solid black;
    padding: 5px;
}

#playback-grid {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 10px;
}

#play-pause {
    font-size: medium;
}

#speed-slider {
    font-size: medium;
}

#grid-container > #object-menu {
    font-size:x-small;
    text-align: center;
    grid-column: 3/4;
    grid-row: 2/3;
    border: 2px solid black;
    padding: 10px;
} 

#objects-table {
    border: 3px solid black;
    width: 100%;
    text-align: left;
}

#grid-container > #frame-controls {
    font-size:x-small;
    text-align: center;
    grid-column: 1/4;
    grid-row: 3/4;
    border: 2px solid black;
    padding: 20px;
}
.cube {
    height: 20px;
    width: 20px;
    margin-bottom: 15px;
    border: 1px solid black;
  }
