html,
body { height: 100%;
}

canvas {
    position: absolute;
    border-width: 2px;
    border-color: red;
}

#grid-container {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: auto auto 225px;
    grid-template-rows: minmax(75px, 10vh) 69vh minmax(100px, 15vh);
    background-color: lightgrey;
}
 
#grid-container > #main-canvas {
    display: flex;
    justify-content: center;
    font-size:x-small;
    text-align: center;
    grid-column: 1/3;
    grid-row: 1/3;
    border: none;
    padding: 20px;
    overflow: auto;
    user-select: none;
    
}
#grid-container > #playback-controls {
    display: none;
    font-size:x-small;
    text-align: center;
    grid-column: 3/4;
    grid-row: 1/2;
    border: none;
    padding: 5px;
}

#playback-grid {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 10px;
}

#play-pause {
    font-size: medium;
}

#speed-slider {
    font-size: medium;
}

#grid-container > #object-menu {
    display: block;
    position: relative;
    font-size:x-small;
    text-align: center;
    grid-column: 3/4;
    grid-row: 1/3;
    border: none;
    padding: 10px;
    overflow: auto;
    margin-top: 30px;
} 

#objects-table {
    border: none;
    width: 100%;
    text-align: left;
    background-color: lightgrey;
}


#grid-container > #frame-controls {
    font-size:x-small;
    text-align: center;
    grid-column: 1/4;
    grid-row: 3/4;
    border: 2px solid black;
    padding: 20px;
    background-color: darkgray;
}

#init-cubes-button {
    position: absolute;
    right: 0;
    bottom: 0;
}

.cube {
    position: absolute;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    user-select: all;
  }
  
#frames-table {
    border: 0px solid black;
    width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.circlecenter {
    height: 1px;
    width: 1px;
    background-color: black;
}

.circle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    background-color:#fff;
    border:1px solid black;  
    border-radius:50%;
    width:64%;
    height:0;
    padding: 32% 0;
    user-select: none;
}

#context-menu {
    position: fixed;
    width: 150px;
    position: absolute;
    background: gray;
    z-index: 10000;
    transform: scale(0);
    transform-origin: top left;
}

#context-menu.active {
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

#context-menu .item {
    padding: 8px 10px;
    font-size: 15px;
    color: #eee;
}

#context-menu .item:hover{
    background: #555;
}

#context-menu .item i {
    display: inline-block;
    margin-right: 5px;
}

#context-menu hr {
    margin: 2px 0px;
    border-color: #555;
}